<!DOCTYPE html>
{# HTML5 declaration #}
<html>
    {# Make modifiable head elements #}
    <head>
        {% load static %}
        <title>{% block title %}Home {% endblock title %} | CRM Easy</title>
        {% block head_favicon %}
            <link rel="icon" type="image/jpg"
                  href="{% static 'polls/images/image1.jpg' %}">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
                <link rel="stylesheet"
                      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
                      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
                      crossorigin="anonymous">
            {% endblock head_css_site %}
            {% block head_css_section %}
            {% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'employee_profile/style.css' %}">
    </head>
    <body>
    {# Navigation Menu #}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
<!--                <button type="button" id="sidebarCollapse" class="btn btn-info">-->
<!--                    <i class="fas fa-align-left"></i>-->
<!--                    <span>Toggle Sidebar</span>-->
<!--                </button>-->
                <a class="navbar-brand" href="#">PTCC</a>
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">SIGN OUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {# The Document Body #}
    <div id="site-wrapper">
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>EMPLOYEE MONITOR</h3>
                </div>

                <ul class="list-unstyled components">
<!--                    <p>Dummy Heading</p>-->
<!--                    <li class="active">-->
<!--                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>-->
<!--                        <ul class="collapse list-unstyled" id="homeSubmenu">-->
<!--                            <li>-->
<!--                                <a href="#">Home 1</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">Home 2</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">Home 3</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">About</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>-->
<!--                        <ul class="collapse list-unstyled" id="pageSubmenu">-->
<!--                            <li>-->
<!--                                <a href="#">Page 1</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">Page 2</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">Page 3</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">Portfolio</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">Contact</a>-->
<!--                    </li>-->
                    <li>
                        <a href="#">IMPORT</a>
                    </li>
                    <li>
                        <a href="#">GENERATE</a>
                    </li>
                </ul>
            </nav>
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        </div>
    </div>
    {# The Footer #}
    <div class="footer">
        <div class="container">
            <p>Copyright CRM Easy</p>
        </div>
    </div>
    </body>
    {# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                    crossorigin="anonymous"></script>
        {% endblock footer_javascript_site %}
        {% block custom_js %}{% endblock custom_js %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
    <script src="{% static 'employee_profile/drop_down.js' %}"></script>
</html>