<!DOCTYPE html>
{# HTML5 declaration #}
<html>
    {# Make modifiable head elements #}
    <head>
        {% load static %}
        <title>{% block title %}PTCC HR{% endblock title %}</title>
        {% block head_favicon %}
            <link rel="icon" type="image/jpg"
                  href="{% static 'employee_profile/images/ptcc_icon.PNG' %}">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
                <link rel="stylesheet"
                      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
                      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
                      crossorigin="anonymous">
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                    rel="stylesheet">
                <link rel="stylesheet" type="text/css" href="{% static 'employee_profile/css/style.css' %}">
            {% endblock head_css_site %}
            {% block head_css_section %}
            {% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
        {% block head_js %}
            <script
                src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        {% endblock head_js %}
        {% block custom_js %}{% endblock custom_js %}
    </head>
    <body>
        {# modal side bar #}
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadModalLabel">Uploade File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="upload_label"></div>
                        <form id="upload_form" action="{% url 'upload_view' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input id="file" type="file" name="file">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel_button">Cancel</button>
                        <button type="submit" form="upload_form" class="btn btn-primary" id="upload_button">Upload</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title info-modal-title" id="infoModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body info-modal-body"></div>
                    <div class="modal-footer">
                        <select id="year_selection" hidden="true"></select>
                        <button type="button" class="btn btn-secondary" id="info_button_close" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="generate_button" hidden="true">Generate</button>
                        <button type="button" class="btn btn-primary" id="delete_button" hidden="true">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {# The Document Body #}
        <div class="d-flex flex-column wrapper">
            {# Navigation Menu #}
            <!-- Navbar -->
            <div>
                <header>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{% url 'employee_profile:index' %}">PTCC</a>
                            <button class="navbar-toggler" type="button"
                                    data-toggle="collapse" data-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    {% if user.is_authenticated %}
                                    <a class="nav-link" href="{% url 'logout' %}">SIGN OUT</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
            <!-- Sidebar -->
            <div class="d-flex flex-row">
                <div>
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <a href="{% url 'employee_profile:index' %}"><h3>DOCUMENT GENERATOR</h3></a>
                        </div>
                        {% if user.is_authenticated %}
                        <ul class="list-unstyled components">
                        <li>
                            <a href="#uploadSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Upload Files</a>
                                <ul class="collapse list-unstyled" id="uploadSubmenu">
                                    <li>
                                        <a class="sidebar_button" id="upload_csv">Upload a CSV File</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#generateSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Generate Files</a>
                                <ul class="collapse list-unstyled" id="generateSubmenu">
                                    <li>
                                        <a class="generate_sidebar_button" id="generate_lr">Generate Leave Registry</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        {% endif %}
                    </nav>
                </div>
                <div>
                    {% block content %}
                        if you see this, something is wrong!
                    {% endblock content %}
                </div>
            </div>
            <!-- Footer -->
            <div>
                {# The Footer #}
                <footer class="page-footer font-small blue">
                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">© 2020 Copyright:
                        <a href="http://www.ptcc.design/"> PTCC DESIGN</a>
                    </div>
                    <!-- Copyright -->
                </footer>
            </div>
        </div>
    </body>
    {# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_section %}
            <script type="text/javascript">
                $(document).ready(function(e) {
                    var checked_employee_list = [];
                    $("#generate_lr").on("click", function() {
                        var html_string;
                        var employee_name;

                        $("#infoModal").modal();
                        $(".info-modal-title").html("Generate All Employees");
                        html_string = "<h6>These are the employees that will generate Leave Registry: </h6>";
                        $.each($('input.form-check-input'), function() {
                            if ($(this).prop("checked")) {
                                employee_name = $(this).data("empname");
                                html_string += "<h6>* <strong>"+ employee_name + "</strong></h6>"
                                checked_employee_list.push($(this).data("id"));
                            }
                        });

                        if (checked_employee_list.length == 0) {
                            html_string = "<h6>No selected employees.</h6>"
                            $("#generate_button").attr("disabled", true);
                        } else {
                            $("#generate_button").attr("disabled", false);
                        }

                        $(".info-modal-body").html(html_string);
                        $("#generate_button").attr("hidden", false);
                        $("#year_selection").attr("hidden", false);
                        populateYearSelection();
                    });

                    $("#check_all_employee").click(function() {
                        if($(this).prop("checked")) {
                            $("input.form-check-input").prop("checked", true);
                        } else {
                            $("input.form-check-input").prop("checked", false);
                        }
                    });

                    $("#generate_button").on("click", function(){
                        $("#generate_button").attr("hidden", true);
                        $("#year_selection").attr("hidden", true);
                        requestGenerate();
                    });

                    $(document).on("click", ".sidebar_button", function() {
                        $("#uploadModal").modal();
                        id = $(this).attr("id");
                        $("#upload_label").html("<h6>Please upload CSV File in either of the following:</h6>" +
                                                 "<h6>1. employee.csv</h6>" +
                                                 "<h6>2. leaves.csv</h6>" +
                                                 "<h6>3. offenses.csv</h6>" +
                                                 "<h6>4. earned_leaves.csv</h6>"+
                                                 "<h6>5. timesheet.csv</h6>");

                        $("#uploadModalLabel").html("Upload CSV File");
                    });

                    $("#info_button_close").on("click", function() {
                        $("#generate_button").attr("hidden", true);
                        $("#year_selection").attr("hidden", true);
                        location.reload();
                    });

                    $("#upload_form").submit(function(e) {
                        e.preventDefault();
                        var formData = new FormData($(this)[0]);
                        var url = "{% url 'upload_view' %}";
                        $.ajax({
                            url:url,
                            type: "POST",
                            data: formData,
                            async: false,
                            cache: false,
                            contentType: false,
                            enctype: "multipart/form-data",
                            processData: false,
                        })
                        .done(function(response) {
                            $(".info-modal-title").html(response.head);
                            $(".info-modal-body").html(response.body);
                            $("#infoModal").modal();
                            $("#uploadModal").modal('hide');
                        })
                        .fail(function(xhr, status, error){
                            $(".info-modal-title").html("Failed");
                            $(".info-modal-body").html("Failed to save data! details: " + (xhr.responseText).split(".")[0]);
                            $("#infoModal").modal();
                        });
                    });

                    $("body").on("click", '#download_button', function(e) {
                        var filename = $(this).data("file");
                        var url = "{% url 'employee_profile:download_file' %}";
                        var request = new XMLHttpRequest();
                        var data = "filename="+filename;
                        request.open('POST', url, true);
                        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                        request.responseType = 'blob';

                        request.onload = function(e) {
                            if (this.status == 200) {
                                var blob = this.response
                                if (window.navigator.msSaveOrOpenBlob) {
                                    window.navigator.msSaveBlob(blob, filename);
                                } else {
                                    var downloadLink = window.document.createElement('a');
                                    var contentTypeHeader = request.getResponseHeader("Content-Type");
                                    downloadLink.href = window.URL.createObjectURL(new Blob([blob], {type: contentTypeHeader}));
                                    downloadLink.download = filename;
                                    document.body.appendChild(downloadLink);
                                    downloadLink.click();
                                    document.body.removeChild(downloadLink);
                                }
                            } else {
                                alert('Download Failed');
                            }
                        };
                        request.send(data);
                    });

                    function populateYearSelection() {
                        var start_year = 2000;
                        var end_year = new Date().getFullYear();
                        var options = "";
                        for (var year = end_year; year >= start_year; year-- ) {
                            options += "<option value=" + year +">"+ year + "</option>";
                        }
                        $("#year_selection").html(options);
                    }

                    function requestGenerate() {
                        console.log(checked_employee_list);
                        var url = "{% url 'employee_profile:generate_leave_registry' %}";
                        var selected_year = $("#year_selection option:selected").text();
                        var data = {
                            "checked_employees":checked_employee_list,
                            "year": selected_year
                        };
                        $.ajax({
                            url:url,
                            type:"POST",
                            data:data
                        })
                        .done(function(response){
                            var file_name = response.data;
                            dl_button_html = "<button type='button' class='btn btn-primary' data-file=" + file_name + " id='download_button'>Download File</button>";
                            $(".info-modal-title").html(response.head);
                            $(".info-modal-body").html(response.body);
                            $(".modal-footer").append(dl_button_html);
                            $("#infoModal").modal();
                            checked_employee_list = [];
                        })
                        .fail(function(xhr, status, error) {
                            $(".info-modal-title").html("Failed");
                            $(".info-modal-body").html("Failed to save data! details: " + (xhr.responseText).split(".")[0]);
                            $("#infoModal").modal();
                        });
                    }
                });
            </script>
        {% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>