.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #E8E8E8;
    /* background-image: url("/static/employee_profile/images/fractal_background.jpg"); */
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #616b75;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #798591;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #616b75;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #798591;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #798591;
}

.center{
    position:absolute;
    width:500px;
    left:42%;
}

.card_container{
    padding:10px;
    background-color:#F8F8F8;
    margin-bottom:5px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

.employee_spec_details{
    border:1px solid  #000000;
    border-radius:5px;
    padding:5px;
    margin-top:10px;
    margin-left:10px;
    background-color:#FFFFFF;
}

.config_buttons{
    margin-top:10px;
}
.justify-content-between{
    flex-direction: column;
}

.config_button_style{
    width:100px;
}

.year_dropdown{
    margin-top:10px;
}

.flex-column{
    width:100%;
}
.earned_leave_table{
    background-color: #FFFFFF;
}
.leaves_taken_table{
    background-color: #FFFFFF;
}

.offenses_table{
    background-color: #FFFFFF;
}

.employee_detail_form{
    width:100%;
}

footer.page-footer {
    bottom: 0;
    color: 
    #fff;
}
.font-small {
    font-size: .9rem;
}
.blue {
    background-color: 
    #343a40 !important;
}