<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Nextcloud</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'fakesite/css/login.css' %}">
    </head>
    <body>
        <div class="form-wrapper">
            <div class="form-header">
                <img src="{% static 'fakesite/images/next_cloud_icon.png' %}" alt="Italian Trulli"
                width="200" height="200">
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.email.errors }}
                {{form.email}}
                {{ form.password.errors }}
                {{form.password}}
                <div class="form-button-wrapper">
                    <button type="submit" class="form-button">Log in <img src="{% static 'fakesite/images/arrow.png' %}" alt="Italian Trulli"
                    width="13" height="13" style="float:right; margin:4px"></button>
                </div>
            </form>
            <div class="form-lost-pass">
                <a class="lost-password" href="">
                    Forgot password?
                </a>
            </div>
        </div>
    </body>
</html>