<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
    <body>
        <div class="d-flex flex-column">
            <div class="p-2">
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="employee_spec_details">
                            <table>
                                <tr>
                                    <th><h6>Employee Name:</h6></th>
                                    <th><h4><strong>{{employee.name}}</strong></h4></th>
                                </tr>
                                <tr>
                                    <th><h6>Hired Date:</h6></th>
                                    <th><h6>{{employee.hired_date.date}}</h6></th>
                                </tr>
                                <tr>
                                    <th><h6>Probation Date:</h6></th>
                                    <th><h6>{{employee.probation_date.date}}</h6></th>
                                </tr>
                                <tr>
                                    <th><h6>SL Start Date:</h6></th>
                                    <th><h6>{{employee.sl_start_date.date}}</h6></th>
                                </tr>
                                <tr>
                                    <th><h6>Regularization Date:</h6></th>
                                    <th><h6>{{employee.regularization_date.date}}</h6></th>
                                </tr>
                                <tr>
                                    <th><h6>Employee Status:</h6></th>
                                    <th><h6>{{employee.employee_status}}</h6></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="config_buttons">
                            <div class="d-flex justify-content-between">
                                <div class="p-2">
                                    <button type="button" class="btn btn-primary config_button_style">EDIT</button>
                                </div>
                                <div class="p-2">
                                    <button type="button" class="btn btn-primary config_button_style">SAVE</button>
                                </div>
                                <div class="p-2">
                                    <button type="button" class="btn btn-primary config_button_style">VIEW</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ml-auto p-2">
                        <div class="btn-group year_dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Year
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">2020</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="leave_summary">
                    <h5><strong>Leave Summary</strong></h5>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">TYPE</th>
                                <th scope="col">JAN</th>
                                <th scope="col">FEB</th>
                                <th scope="col">MAR</th>
                                <th scope="col">APR</th>
                                <th scope="col">MAY</th>
                                <th scope="col">JUN</th>
                                <th scope="col">JUL</th>
                                <th scope="col">AUG</th>
                                <th scope="col">SEP</th>
                                <th scope="col">OCT</th>
                                <th scope="col">NOV</th>
                                <th scope="col">DEC</th>
                                <th scope="col">PREV</th>
                                <th scope="col">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">VL</th>

                            </tr>
                            <tr>
                                <th scope="row">SL</th>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>

    </body>
{% endblock content %}

</html>