{% extends 'base.html' %}
{% load static %}

{% block head_css_section %}
    <link rel="stylesheet" type="text/css" href="{% static 'employee_profile/css/employee_details.css' %}">
{% endblock head_css_section %}

{% block content %}
    <div class="d-flex flex-column">
        <div class="p-2 upper-section">
            <div class="d-flex flex-row">
                <div class="p-2">
                    <div class="employee_spec_details">
                        <table>
                            <tr>
                                <th>Employee Name:</th>
                                <td><h4><strong>{{employee.name}}</strong></h4></td>
                            </tr>
                            <tr>
                                <th>Hired Date:</th>
                                <td id="hired_date">{{employee.hired_date}}</td>
                            </tr>
                            <tr>
                                <th>Probation Date:</th>
                                <td id="probation_date">{{employee.probation_date}}</td>
                            </tr>
                            <tr>
                                <th>SL Start Date:</th>
                                <td id="sl_start_date">{{employee.sl_start_date}}</td>
                            </tr>
                            <tr>
                                <th>Regularization Date:</th>
                                <td class="editable-employee" 
                                    data-id="{{employee.id}}" 
                                    data-table="employee"
                                    data-type="regularization_date"
                                    name="format_date">{{employee.regularization_date}}
                                </td>
                            </tr>
                            <tr>
                                <th>Employee Status:</th>
                                <td class="editable-employee" 
                                    data-id="{{employee.id}}" 
                                    data-table="employee"
                                    data-type="employee_status"
                                    name="format_select">{{employee.employee_status}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="p-2">
                    <div class="config_buttons">
                        <div class="d-flex justify-content-between">
                            <div class="p-2">
                                <button type="button" class="btn btn-primary config_button_style" id="save_employee" disabled="true">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ml-auto p-2">
                    <label for="employee-details-year-selection">Year</label>
                    <select id="employee-details-year-selection"></select>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="d-flex flex-row">
                <div class="p-2 earned_leave">
                    <h5><strong>Bi-Monthly Earned Credits</strong></h5>
                    <div class="earned_leave_tbl_container" style="overflow:auto;height: 700px;width: 450px;">
                        <table class="table table-hover earned_leave_table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Cut-off</th>
                                    <th scope="col">Vacation</th>
                                    <th scope="col">Sick</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-id='{{employee.id}}' data-table='employee'>
                                    <th scope="row">Beg. Bal</th>
                                    <td 
                                        class="editable" 
                                        data-type="prev_vl_bal" 
                                        scope="row"
                                        name="format_float">
                                        {{employee.prev_vl_bal}}
                                    </td>
                                    <td 
                                        class="editable"
                                        data-type="prev_sl_bal"
                                        scope="row"
                                        name="format_float">
                                            {{employee.prev_sl_bal}}
                                    </td>
                                    <td>
                                        <button style="border:none;background:none;" class="add" title="Add" data-toggle="tooltip" hidden="true"><i class="material-icons"></i></button>
                                        <button style="border:none;background:none;display:inline-block;" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="p-2 leaves_taken">
                    <div class="d-flex flex-row">
                        <div class="p-2">
                            <h5><strong>Leaves Taken</strong></h5>
                        </div>
                        <div class="ml-auto p-2">
                            <button type="button" class="btn btn-info add-new" data-table="leaves_taken_table">+ Add New</button>
                        </div>
                    </div>
                    <div style="overflow:auto;height: 700px;">
                        <table class="table table-hover leaves_taken_table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">No. of Days</th>
                                    <th scope="col">Type of Leave</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="p-2 offenses">
                    <div class="d-flex flex-row">
                        <div class="p-2">
                            <h5><strong>Offenses</strong></h5>
                        </div>
                        <div class="ml-auto p-2">
                            <button type="button" class="btn btn-info add-new" data-table="offenses_table">+ Add New</button>
                        </div>
                    </div>
                    <div style="overflow:auto;height: 700px;">
                        <table class="table table-hover offenses_table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Offense Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="saveModalLabel">Saving data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body save-modal-body">
                
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="save_button_close">Cancel</button>
            <button type="button" class="btn btn-primary" id="save_button_modal">Save changes</button>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}

{% block custom_js %}
    <script type="text/javascript">
        var employee_prev_vl_bal = "{{employee.prev_vl_bal}}";
        var employee_prev_sl_bal = "{{employee.prev_sl_bal}}";
        var employee_id = "{{employee.id}}";
        var emp_sl_list = JSON.parse('{{employee.get_earned_sl_list|safe}}');
        var emp_vl_list = JSON.parse('{{employee.get_earned_vl_list|safe}}');
        var emp_leaves_taken = JSON.parse('{{employee.get_leaves_taken|safe}}');
        var emp_offenses = JSON.parse('{{employee.get_offenses|safe}}');
        var url_save_changes = "{% url 'employee_profile:save_changes' %}";
        var date_options = {year: 'numeric', month: 'long', day: 'numeric'};
        //this is the container to hold the changes made by the user
        var model_changes_dict = {
            "add":[],
            "edit":[],
            "delete":[],
        };
    </script>
    <script type="text/javascript" src="{% static 'employee_profile/js/employee_details.js' %}"></script>
{% endblock custom_js %}